*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style-type: none;
    text-decoration: none;
}
.logo{
    text-align: center ;
    background-color: blue;
    padding: 10px 20px;
}
.navbar{
    background-color: #000000;
    display: flex;
    padding: 10px 20px;
    gap: 2rem;
}

.navbar li a{
    color:#fff;
    width: auto ;
    
}
