*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: none;
    list-style-type: none;
}
.content{
    text-align: center;
    background-color: blue;

}
.content-1{
    margin: 10px 500px;
    border: 1px solid #000;
    width: 200;
    color: #fff;
    background-color: #000;
}
.content-2{
    text-align: center;
    color: blue;
    background-color: aqua;
    border: 1px dashed;
    display: flex;
}